body {
  background: #111;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
}

header {
  background: #e50914;
  padding: 20px;
}

.video-card {
  margin: 20px auto;
  padding: 15px;
  background: #222;
  max-width: 600px;   /* responsive */
  width: 90%;
  border-radius: 8px;
}

video {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

h1, h2, h3 {
  font-weight: normal;
}
.thumb {
  width: 100%;
  border-radius: 6px;
}

.category {
  color: #aaa;
  font-size: 14px;
  margin: 5px 0;
}
